*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#023047;

}
.wrapper{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    min-height:100vh;
}
img{
    width:300px;
}
form{
    width:100%;
    background-color: rgb(108, 120, 48);
    max-width: 500px;
    padding:20px;
    border-radius:5px;
    box-shadow: 0 0 10px solid rgba(38,37,37,0.3);
}
form select{
    background-color: cornsilk;
    width:60%;
    border-radius:5px;
    color:#faa307;
    cursor:pointer;
}
label{
    color:#a7c5e3;
    font-weight: bold;
    padding:10px;
    font-size:20px;

}
h2{
    color:#a7c5e3;
    font-weight: bold;
    padding:10px;
    font-size: 30px;

}
p{
    color:#a7c5e3;
    font-weight: bold;
    padding:10px;
    font-size: 20px;
    font-weight:bold;
}

.container{
    min-width: 500px;
    padding:20px;
    background-color:red;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    margin:10px;



}
.WORD{
    color:#faa307;
    font-weight: bold;
    font-size: 40px;
    font-weight: bold;
}
input{

    padding:5px;
    border-radius: 5px;
    border:1px solid #a7c5e3;
    width:100%;
    margin:10px;
    background-color: transparent;
    color:#faa307;
}
.Score-Container{
    margin:20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.Time,.score{
    font-size: 30px;
    font-weight: bold;
    color:#faa307;
}
.end-game-container{
    
    min-width: 500px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Play-Again-btn{
    background-color: #ee0505;
    border-radius: 5px;
    border:1px solid #a7c5e3;
    color:#fff;
    font-weight: bold;
    cursor:pointer;
    margin:10px;
    padding: 10px;
}
.over{
    font-size: 40px;
    font-weight: bold;

}